<!DOCTYPE html>
<html>
   <head><meta charset="utf-8">
      <title>쥐덫 관리 프로그램</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" type="text/javascript"></script>
      <script src="./static/MyMqttIO.js" type="text/javascript"></script>
      <script>
            // window 객체에 load 이벤트가 발생하면 2개의 함수 실행
            window.addEventListener("load", function () {
                // http://192...5:8080/에서 192...5의 IP만 끊어내는 코드
                let url = new String(document.location);
                ip = (url.split("//"))[1]; // ip = "192...:8080/"
                ip = (ip.split(":"))[0]; // ip = "192..."
                document.getElementById("broker").value = ip
                connect();
            });
      </script>
      <meta http-equiv="refresh" content="3">
   </head>
   <body>
         <h3>쥐덫 모니터링</h3>
         <hr>
         <form id="connection-form">
            <b>브로커 IP:</b>
            <input id="broker" type="text" name="broker" value=""><br>
            <b>포트 번호 : 9001</b><br>
            <input type="button" onclick="connect()" value="Connect">
            <input type="button" onclick="disconnect()" value="Disconnect">
         </form>
         <hr>
         <h3>Led ON/OFF(토픽:led)</h3>
         <form id="LED-control-form">
            <label>ON <input type="radio" id="ledOn" name="led" value="1" onclick="return publish('led', this.value)"></label>
            <label>OFF <input type="radio" id="ledOff" name="led" value="0" checked onclick="return publish('led', this.value)"></label>
         </form>
         <hr>
                <p><strong>거리:</strong> {{ distance }}CM</p>
                {% if distance < 3 %}
                <strong>덫 가동!!</strong>
                {% endif %}
                <form id="Motor-Control-form">
                  <label><input type="button" id="motorBack" name="2" value="덫 해제" onclick="return publish('motor', this.name)"></label>
               </form>
         <hr>
            <form action="/cctv" method="get">
                <h3>실시간 화면 보기</h3>
                <p>
                <input type="submit" value="GO">
                </p>
            </form>
         <hr>
         <p><strong>온도:</strong> {{ temperature }} °C</p>
         <p><strong>습도:</strong> {{ humidity }} %</p>
         <p><strong>조도:</strong> {{ light }}</p>
        {% if temperature >= 20 and temperature <= 26 and humidity >= 40 and humidity <= 70 and light <= 300 %}
        <p>쥐덫 작동 중</p>
        {% else %}
        <p>쥐덫 작동 조건을 충족하지 않습니다.</p>
        {% endif %}
         <form action="/"  method="get">
                <button type="submit">최신화</button>
         </form>
         <hr>
         <div id="messages"></div>
   </body></html>
